@import url('https://fonts.googleapis.com/css?family=Contrail+One');
h1 {
  font-size: 75px;
  color: whitesmoke;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0%;
}

h3 {
  font-size: 35px;
  color: whitesmoke;
  text-align: left;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0%;
  padding-left: 60px;
}

body {
  background: url("../images/mosaic.png");
}

header {
  background: black;
  margin: 0;
}

.container {
  background: whitesmoke;
  width: 100%;
}


#clock {

    background-color: black;
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-family: 'contrail One', sans-serif;
    font-size: 3em;
}